<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        p {
            font-size: 1.5em;
            column-count: 3;
            /*            column-gap: 50px;*/
            column-rule: solid;
        }
    </style>
</head>

<body>

    <p>Nasr (1287–1322) was the son of Muhammad II al-Faqih and the fourth Nasrid ruler of the Emirate of Granada on the Iberian Peninsula. When he ascended the throne on 14 March 1309 after his brother Muhammad III was dethroned in a palace revolution, Granada faced a three-front war against Castile, Aragon and the Marinid Sultanate (map pictured). He made peace with all three over the following year with minimal losses. Despite this, Nasr was unpopular at court due to his excessive concentration on science and astronomy, and his perceived pro-Christian sympathies. </p>

</body></html>


